services:
  # Backend Service
  - type: web
    name: ghost-protocol-api
    env: docker
    region: oregon
    plan: free
    branch: main
    rootDir: .
    dockerfilePath: backend/Dockerfile
    envVars:
      - key: PORT
        value: 8000
      - key: MODULE_NAME
        value: backend.api
      - key: VARIABLE_NAME
        value: app
    autoDeploy: true

  # Frontend Service
  - type: web
    name: ghost-protocol-web
    env: docker
    region: oregon
    plan: free
    branch: main
    rootDir: ghost-protocol-web
    dockerfilePath: ghost-protocol-web/Dockerfile
    envVars:
      - key: PORT
        value: 3000
    autoDeploy: true
